.tabs-row {
    background-color: var(--colors-primary-25);
    border-bottom: solid 1px var(--colors-gray-100);
    padding: 16px;
    border-radius: 24px 0px 0px 0px;
    min-width: 60vw;
}

#tabs-page-content {
    min-width: 60vw;
}

.panel-view {
    overflow-x: auto;
    width: 100%;
}

.panel-view:not(:first-child) {
    border-left: solid 1px var(--colors-gray-100);
}
