.parameter-input {
    margin: 2%;
}

.parameter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#color-text {
    margin-left: 2%;
}
