<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Primitives

@if(this.SelectedSceneObject is not null)
{
    <div id="propertiesPanel">
        @{
            var title = "Properties";
            if (this.SelectedSceneObject is not null)
            {
                title = this.SelectedSceneObject.ElementBase.Name + " - Properties:";
            }

            <div id="properties-title">
                <h6>@title</h6>
                <button @onclick="()=>this.OnSubmit()" class="@(this.GetChangedParametersKeyValue().Any()?"submit-button button-blue":"submit-button")">Submit</button>
            </div>
        }

        <BSAccordion>
            <BSAccordionItem AlwaysOpen="true" DefaultShown="true">
                <Header>Parameters</Header>
                <Content>
                    <div id="parameters-section">
                        @{
                            if (this.SelectedSceneObject is not null)
                            {
                                var parameters = this.ParametersInUse;
                                @foreach (var parameter in parameters)
                                {
                                    if (parameter == this.SelectedParameter)
                                    {
                                        <p class="parameter-item parameter-item-selected" @onclick="()=> this.ParameterChanged(parameter)">@parameter.ParameterType.Name</p>
                                    }
                                    else
                                    {
                                        <p class="parameter-item" @onclick="()=> this.ParameterChanged(parameter)">@parameter.ParameterType.Name</p>
                                    }
                                }
                            }
                        }

                    </div>
                    <h5 id="details-title">Details</h5>
                    <DetailsComponent @ref=this.DetailsReference ParameterSelected="this.SelectedParameter" SelectedSceneObject="this.SelectedSceneObject"></DetailsComponent>
                </Content>
            </BSAccordionItem>
        </BSAccordion>
    </div>
}


