**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/docker-compose*
**/Dockerfile*
**/obj
**/COMET.Web.Common.Tests
**/COMET.Web.Common.Test
**/COMETwebapp.Tests
!nginx.conf
switcher.json