<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />    
	<add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="devex" value="https://nuget.devexpress.com/E9z1yVecSNXGb7ekh8kLczSQWF2g4on9D26rfmK6s1QoQE51MR/api" />
  </packageSources>
</configuration>