.actual-finite-state {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: whitesmoke;
    margin-left: 1.25rem;
    margin-bottom: 0.25rem;
}

.actual-finite-state:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

.actual-finite-state.selected-state {
    box-shadow: 0 0 0 2px #008bd2;
}

p {
    padding: 0;
    margin: 0.5rem;
    text-align: center;
}

.default-state {
    margin-left: 0;
}

.actual-finite-state-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #EEEEEE;
    margin-bottom: 0.4rem;
    box-shadow: 0 0 0 2px #EEEEEE;
}