#state-selector-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eaecee;
}

#state-selector-title {
    padding: 2%;
    font-weight: bold;
    margin: 0;
}

#state-selector-container {
    border: 1px solid #eaecee;
    margin: 0;
    padding: 0;
}