#gridParent {
    position: relative;
    margin: 1% 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#leftColumn {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    margin-right: 2%;
    overflow-y: auto;
    max-height: 67vh;
    top: 0;
    border: 1px solid #EEE;
}

#center-container {
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
}

#rightColumn {
    grid-area: 1 / 3 / 2 / 4;
    margin: 0;
    margin-left: 2%;
    top: 0;
}