<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

This file is part of COMET WEB Community Edition
The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

The COMET WEB Community Edition is free software; you can redistribute it and/or
modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.

The COMET WEB Community Edition is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Extensions;
@using COMETwebapp.ViewModels.Components.Shared.ParameterEditors
@using COMETwebapp.Model
@inherits DisposableComponent

@if (this.ViewModel.ParameterType.ShortName == SceneSettings.OrientationShortName)
{
    var compoundParameterViewModel = this.ViewModel as CompoundParameterTypeEditorViewModel;
    <OrientationComponent ViewModel="@compoundParameterViewModel?.CreateOrientationViewModel()"/>
}
else if (this.ViewModel.ValueSet is not null)
{
    if (this.ViewModel is ICompoundParameterTypeEditorViewModel compoundParameterTypeEditorViewModel)
    {
        if (compoundParameterTypeEditorViewModel.IsOnEditMode)
        {
            <div class="compound-editor-item">
                <DxFormLayout ItemCaptionAlignment="ItemCaptionAlignment.All">
                @{
                    @for (var i = 0; i < this.ViewModel.ParameterType.Component.Count; i++)
                    {
                        var index = i;
                        var component = this.ViewModel.ParameterType.Component[i];
                            <DxFormLayoutItem ColSpanMd="12" Caption=@component.ShortName>
                                <ParameterTypeEditorSelector ViewModel="@compoundParameterTypeEditorViewModel.CreateParameterTypeEditorSelectorViewModel(@component.ParameterType, index)" />
                            </DxFormLayoutItem>
                        
                    }
                }
                </DxFormLayout>
            </div>
        }
        else
        {
            <div class="input-group">
                <div class="compound-editor">
                    @{
                        var componentLabels = this.ViewModel.ParameterType.Component.Select(x => x.ShortName).AsCommaSeparated();
                        <div>[@componentLabels]</div>
                    }
                </div>
                <DxButton Id="openPopup" Text="Edit" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="icon icon-edit" SizeMode="SizeMode.Small" Click="@(()=> compoundParameterTypeEditorViewModel.OnComponentSelected())" />
            </div>
        }
    }
}
