@{
    var values = this.ViewModel.ValueSet.ActualValue.First().Split(':');
        
    int.TryParse(values[0], out var hours);
    int.TryParse(values[1], out var minutes);
    int.TryParse(values[2], out var seconds);

    var time = new TimeSpan(hours, minutes, seconds);

    <div class="parameter-row">
        <DxTimeEdit @bind-Time="@time" CssClass="cw-320"></DxTimeEdit>
        <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[0]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input"></DxTextBox> <p>:</p>
        <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[1]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input"></DxTextBox> <p>:</p>
        <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[2]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input"></DxTextBox>
    </div>
}