
#product-tree-title {
    background: #eaecee;
    padding: 2%;
}

#product-tree-container {
    border: 1px solid #eaecee;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}
