#background-pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:73%;
    height:100%;
    background-color: rgba(255,255,255,0.2);
}

#confirm-pop-up {
    position: absolute;
    width: 17%;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: 0px 0px 7px white;
    overflow: hidden;
}

#header-pop-up {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    width: 100%;
    background-color: #DEDEDE;
    font-weight:bold;
    font-size:1.2rem;
}

#body-pop-up{
    padding:2%;
}

#footer-pop-up {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:2%;
}

p{
    margin:0;
    text-align:center;
}