<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@page "/{modelName}"
@using System.Text.RegularExpressions
@inject ISessionAnchor SessionAnchor
@inject NavigationManager NavigationManager

<div class="display-flex flex-row">
    <div class="display-flex flex-column width-100 align-items-center">
        <h1>Model @modelName</h1>
        <h1>Domain @SessionAnchor.CurrentDomainOfExpertise?.Name </h1>
    </div>
    <div class="display-flex width-fit-content align-items-center">
        <button class="btn btn-connect " @onclick="CloseIteration"> Close the Model</button>
    </div>
</div>

<div class="display-flex justify-content-center height-70">
    <div class="display-flex flex-row justify-content-around align-items-center max-width-40 flex-wrap">
        @foreach(var name in ApplicationNames)
        {
            <div>
                <button class="btn btn-connect" @onclick="() => SelectApplication(name)"> @name </button>     
            </div>
        }
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the modelName
    /// </summary>
    [Parameter]
    public string modelName { get; set; }

    /// <summary>
    /// List of application Names
    /// </summary>
    public List<string> ApplicationNames = new List<string>
    {
        "Parameter Editor",
        "Model Dashboard",
        "Subscription Dashboard",
        "System Representation",
        "Report Preview",
        "Requirement Management",
        "Budgets Editor"
    };

    /// <summary>
    /// Close the opened iteration
    /// </summary>
    private void CloseIteration()
    {
        this.SessionAnchor.CloseIteration();
        NavigationManager.NavigateTo("/");
    }

    /// <summary>
    /// Navigate to the selected application
    /// </summary>
    /// <param name="applicationName">Name of the selected application</param>
    private void SelectApplication(string applicationName)
    {
        var newName = Regex.Replace(applicationName, @"\s", "");
        NavigationManager.NavigateTo($"/{newName}");
    }
}
