<!------------------------------------------------------------------------------
    Copyright (c) 2023 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

<div id="product-tree-container">
    <h4 id="product-tree-title">Product Tree</h4>

    <div id="product-tree-search-bar">
        <BSDropdown id="tree-filter-drop-down">
            <Toggler><BSToggle IsButton="true" Color="BSColor.Secondary">Filter</BSToggle></Toggler>
            <Content>
                <BSDropdownItem IsActive="!this.ShowNodesWithGeometry" OnClick="()=>this.OnFilterChanged(false)">Show Full Tree</BSDropdownItem>
                <BSDropdownItem IsActive="this.ShowNodesWithGeometry" OnClick="()=>this.OnFilterChanged(true)">Show Nodes with geometry</BSDropdownItem>
            </Content>
        </BSDropdown>
        <BSInput id="tree-search-filter" InputType="InputType.Text" placeholder="Search" Value="this.SearchValue" @oninput="(e)=>this.OnSearchFilterChange(e)"></BSInput>
    </div>

    <div id="product-tree-nodes-section">
        <NodeComponent Node="@this.RootNode" Level="0" />
    </div>
</div>
