
#product-tree-title {
    background: #eaecee;
    padding: 2%;
}

#product-tree-container {
    border: 1px solid #eaecee;
    margin: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}

#product-tree-nodes-section {
    overflow-x: auto;
    overflow-y: auto;
}

#product-tree-search-bar {
    display: flex;
    flex-direction:column;
    margin: 3%;
}

::deep #tree-filter-drop-down {
    margin: 4%;
}

::deep #tree-search-filter {
    width: 90%;
    margin-left: 2%;
}