<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 Starion Group S.A.
//
//   Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, João Rua
//
//   This file is part of CDP4-COMET WEB Community Edition
//   The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25
//   Annex A and Annex C.
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
------------------------------------------------------------------------------->
@inherits LayoutComponentBase

<DxLayoutBreakpoint MaxWidth="1200"/>
<div class="page">
    <DxGridLayout CssClass="page-layout">
        <Columns>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
            <DxGridLayoutColumn/>
        </Columns>
        <Items>
            <DxGridLayoutItem Column="0" Area="header">
                <Template>
                    @if (this.ViewModel.SessionService.IsSessionOpen)
                    {
                        <SideBar/>
                    }
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Column="1" Area="content" CssClass="content px-4 page-layout-item-content">
                <Template>
                    @(this.Body)
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>
