@import "open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "flatly/bootstrap.min.css";

.icon {
    height: 24px !important;
    width: 24px !important;
    stroke-width: 2px;
    background-size: 24px 24px;
}

.icon-database {
    background-image: url(SVG/icons/database.svg)
}

.icon-info {
    background-image: url(SVG/icons/info.svg)
}

.icon-folder {
    background-image: url(SVG/icons/folder.svg)
}

.icon-check {
    background-image: url(SVG/icons/check.svg)
}

.icon-save {
    background-image: url(SVG/icons/save.svg)
}

.icon-edit {
    background-image: url(SVG/icons/edit.svg)
}

.icon-upload-cloud {
    background-image: url(SVG/icons/upload-cloud.svg)
}

.icon-plus {
    background-image: url(SVG/icons/plus-circle.svg)
}

.icon-arrow-left {
    background-image: url(SVG/icons/arrow-left.svg)
}

.icon-arrow-right {
    background-image: url(SVG/icons/arrow-right.svg)
}

.icon-arrow-up {
    background-image: url(SVG/icons/arrow-up.svg)
}

.icon-arrow-down {
    background-image: url(SVG/icons/arrow-down.svg)
}

.icon-trash {
    background-image: url(SVG/icons/trash.svg)
}

.icon-close {
    background-image: url(SVG/icons/close.svg)
}

.logo-size {
    max-width: 95px;
    height: auto;
}

.text-align-center {
    text-align: center;
}

@media (max-width: 500px) {
    .comet-info-text p:after {
        content: 'CDP4-COMET WEB Community Editition (CE)';
    }
}

@media (min-width: 501px) {
    .comet-info-text p:after {
        content: 'CDP4-COMET WEB Community Editition (CE) is the RHEA Group open source Concurrent Design web based application compliant with ECSS-E-TM-10-25 Annex A and Annex C.';
    }
}

.font-weight-bold {
    font-weight: bold;
}

.m-left-10px {
    margin-left: 10px;
}

.height-90 {
    height: 90%;
}

.large-logo {
    max-height: 150px;
    width: auto;
}

.width-70 {
    width: 70%;
}

.no-margin {
    margin: 0 0;
}

.font-size-smaller {
    font-size: smaller;
}

.text-align-start {
    text-align: start;
}

.m-top-20px {
    margin-top: 20px;
}

.color-title {
    color: #008bd2;
}

.font-weight-100 {
    font-weight: 100;
}

.topmenu {
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 12%);
}

.btn-connect {
    color: white;
    background-color: #008bd2;
    border-color: rgb(44 62 80);
}

.font-size-small {
    font-size: small;
}

.card-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.display-flex {
    display: flex;
}

.m-top-10px {
    margin-top: 10px;
}

.m-bottom-20px-left-20px {
    margin-bottom: 20px;
    margin-left: 20px
}

.compound-editor {
    float: right;
    margin-right: 20%
}

.compound-editor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 30.33333%;
    margin: 1%;
}

.euler-parameter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.matrix-parameter-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 30.33333%;
    margin: 1%;
}

.angle-selector {
    margin: 4%;
}

#euler-orientation-tab {
    margin-top: 3%;
}

#matrix-orientation-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.orientation_p {
    text-align: center;
    margin: 4%;
}

.content-scale {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.margin-2 {
    margin: 2%;
}

.parameter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.parameter-row-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 9.5%;
}

.highlighted {
    color: blue;
}

.compound {
    border: 2px solid black;
    border-radius: 5px;
}

.application__card {
    width: 280px;
    height: 280px;
    margin: 5px;
    align-content: center;
}

.card__icon {
    transform: scale(3);
    width: fit-content;
}

.application__card__info {
    margin-top: 20%;
}

.card__link {
    color: black;
    text-decoration: none;
    text-align: center;
}

.card__content {
    margin-top: 30px;
}

.card__content__name {
    font-weight: bold;
}

.card__content__description {
    margin-top: 20px;
    font-style: italic;
}

.dashboard {
    overflow: hidden;
}

.dashboard__cards {
    margin-top: 30px;
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Segoe UI",Roboto,"Helvetica Neue","-apple-system",BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    z-index: 4000;
    background: rgba(0,0,0,0.5);
}

    .splash-screen .spinner-border {
        border: .2em solid;
        border-color: #5f368d #bfbfbf #bfbfbf;
        width: 120px;
        height: 120px;
    }

.splash-screen-caption {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.splash-screen-text {
    color: white;
    margin-top: .5rem;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

.bottom-60 {
    bottom: -60%;
}

.bottom-10 {
    bottom: 10%;
}

.bottom-15 {
    bottom: 15%;
}

.bottom-25 {
    bottom: -25%;
}

.tooltip-content {
    visibility: hidden;
    position: absolute;
    width: 150px;
    left: 100%;
    margin-left: 5px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent black transparent transparent;
    height: fit-content;
}

    .tooltip-content:empty {
        display: none;
    }

    .tooltip-content::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        margin-left: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

.tooltip-wrapper:hover .tooltip-content {
    visibility: visible;
}

.open__model__header {
    margin-left: 15px;
}

.header-navbar {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    align-self: stretch;
}

.page {
    height: 100%;
    overflow: hidden;
}

.content {
    padding: 1.1rem 2rem 0 2rem;
    overflow: auto;
}

@media (max-width: 1199.98px) {
    ::deep .page-layout > .dx-gridlayout-root {
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

.session__header {
    background: lightgray;
    padding: 5px;
    width: 100%;
    overflow: hidden;
}

.session_content {
    font-size: 12px;
    display: table;
    margin: 0 auto !important;
}

.content__autorefresh {
    display: flex;
    line-height: 30px;
    margin: 20px;
    text-indent: 5px;
    width: max-content;
}

.content__spin {
    max-width: 85px;
    max-height: 30px;
    margin-left: 5px;
}

.session__buttons {
    margin: 0 auto !important;
    display: table;
    padding-bottom: 10px;
}

.right-margin {
    margin-right: 2px !important;
}

.left-margin {
    margin-left: 2px !important;
}

.notification {
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    width: 18px;
    display: block;
    position: relative;
    margin-top: -15px;
    margin-left: 50px;
    font-size: 13px;
    opacity: 0.8;
}

.homelink {
    text-decoration: none;
    display: contents;
    color: black;
}

.disabled{
    opacity: 0.2;
    pointer-events: none;
}

.align-right {
    margin: 0 0 0 auto !important;
}

#sfpt-table{
    max-height: 750px;
    max-width: 1000px;
    overflow: auto;
    display: block;
}

#sfpt-table th {
    position: sticky;
}

.dashboard-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-title {
    text-align: center;
    color: #16386f;
}

/**MULTICOMBOBOX COMPONENT*/
::deep.chip {
    border: 0;
    background-color: #EEEEEE;
    border-radius: 15px;
    padding: 2.5% 5%;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}

::deep.chips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

::deep.dxbl-listbox-item {
    padding: 0 !important;
}

::deep.combo-box-item-template {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2%;
}

    ::deep.combo-box-item-template.selected {
        background-color: #0d6efd;
        color: white;
    }

.multi-combo-item-template {
    display: flex;
    align-items:center;
    column-gap: 10px;
}

/*BOOK EDITOR*/

.input-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    row-gap: 5px;
    padding: 1%;
}

.editor-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .editor-row > p {
        width: 25%;
        margin: 0;
    }
