<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor
@implements IDisposable

<div class="container-fluid">
    <DxTreeView CssClass="m-top-10px">
        <Nodes>
            @{
                var title = $"{this.TopElement?.Name} ({this.TopElement?.ModelCode()}) - {this.TopElement?.Owner.ShortName}";
            }
            <DxTreeViewNode Name="ElementTop" Text=@title Expanded CssClass="color-title">
                <Nodes>
                    <DxTreeViewNode >
                        <Template>
                            <div style="border: 1px solid #008bd2; border-radius: 10px;">
                                <BSTable IsBordered="false" IsStriped="true" Class="text-align-center">
                                    <BSTHead>
                                        <BSTR>
                                            <BSTD Class="width-15">Parameter</BSTD>
                                            <BSTD Class="width-15">Model Code</BSTD>
                                            <BSTD Class="width-10">Published Value</BSTD>
                                            <BSTD Class="width-10">Actual Value</BSTD>
                                            <BSTD Class="width-10">Computed Value</BSTD>
                                            <BSTD Class="width-10">Manual Value</BSTD>
                                            <BSTD Class="width-10">Reference Value</BSTD>
                                            <BSTD Class="width-5">Switch</BSTD>
                                            <BSTD Class="width-5">Owner</BSTD>
                                        </BSTR>
                                    </BSTHead>
                                    <BSTBody>
                                        @if(this.TopElement != null && this.TopElement.Parameter.Count != 0)
                                        {
                                            foreach(var parameter in this.TopElement.Parameter.OrderBy(p => p.ParameterType.Name))
                                            {
                                                foreach(var parameterValueSet in parameter.ValueSet.OrderBy(p => p.ModelCode()))
                                                {
                                                    <Table Parameter="parameter" ParameterValueSet="parameterValueSet" />
                                                }
                                            }
                                        }
                                    </BSTBody>
                                </BSTable>
                            </div>
                        </Template>
                    </DxTreeViewNode>
                </Nodes>
            </DxTreeViewNode>
            @foreach(var element in this.Elements.OrderBy(e => e.Name))
            {
                title = $"{element.Name} ({element.ModelCode()}) - {element.Owner.ShortName}";
                var iid = $"{element.Iid}";
                <DxTreeViewNode Name=@iid Text=@title Expanded CssClass="color-title">
                    <Nodes>
                        <DxTreeViewNode >
                            <Template>
                                <div class="width-100 height-100" style="border: 1px solid #008bd2; border-radius: 10px;">
                                    <BSTable IsBordered="false" IsStriped="true" Class="text-align-center">
                                        <BSTHead>
                                            <BSTR>
                                               <BSTD Class="width-15">Parameter</BSTD>
                                                <BSTD Class="width-15">Model Code</BSTD>
                                                <BSTD Class="width-10">Published Value</BSTD>
                                                <BSTD Class="width-10">Actual Value</BSTD>
                                                <BSTD Class="width-10">Computed Value</BSTD>
                                                <BSTD Class="width-10">Manual Value</BSTD>
                                                <BSTD Class="width-10">Reference Value</BSTD>
                                                <BSTD Class="width-5">Switch</BSTD>
                                                <BSTD Class="width-10">Owner</BSTD>
                                            </BSTR>
                                        </BSTHead>
                                        <BSTBody>
                                            @if(element.ParameterOverride.Count == 0)
                                            {
                                                foreach(var parameter in element.ElementDefinition.Parameter)
                                                {
                                                    foreach(var parameterValueSet in parameter.ValueSet)
                                                    {
                                                        <Table Parameter="parameter" ParameterValueSet="parameterValueSet" />
                                                    }
                                                }
                                            } else
                                            {
                                                foreach(var parameter in element.ParameterOverride)
                                                {
                                                    foreach(var parameterValueSet in parameter.ValueSet)
                                                    {
                                                        <Table Parameter="parameter" ParameterValueSet="parameterValueSet" />
                                                    }
                                                }
                                            }
                                        </BSTBody>
                                    </BSTable>
                                </div>
                            </Template>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>
            }
        </Nodes>
    </DxTreeView>
</div>

@code {
    /// <summary>
    /// The top ElementDefinition in the model
    /// </summary>
    public ElementDefinition? TopElement { get; set; }

    /// <summary>
    /// All ElementUsages in the model
    /// </summary>
    public List<ElementUsage> Elements { get; set; } = new List<ElementUsage>();

    /// <summary>
    /// Listeners for the components to update it with ISession
    /// </summary>
    private Dictionary<string, IDisposable> listeners = new Dictionary<string, IDisposable>();

    /// <summary>
    /// Initialize component at first render and after session update
    /// </summary>
    protected override void OnInitialized()
    {
        this.InitializeElements();

        if (!this.listeners.TryGetValue("UpToDate", out var listener))
        {
            this.listeners.Add("UpToDate", CDPMessageBus.Current.Listen<SessionStateKind>().Where(x => x == SessionStateKind.UpToDate).Subscribe(x =>
            {
                this.Elements.Clear();
                this.InitializeElements();
                this.StateHasChanged();
            }));
        }
    }

    /// <summary>
    /// Stop and clear listeners of the component
    /// </summary>
    public void Dispose()
    {
        this.listeners.Values.ToList().ForEach(l => l.Dispose());
        this.listeners.Clear();
    }

    ///Initialize Elements to show in tables
    public void InitializeElements()
    {
        this.TopElement = this.ISessionAnchor.GetIteration()?.TopElement;

        var allElementsUsages = new List<ElementUsage>();
        var newElementUsages = new List<ElementUsage>();
        if(this.TopElement != null)
        {
            allElementsUsages.AddRange(this.TopElement.ContainedElement);
        }
        var IsNextLevel = this.TopElement?.ContainedElement.Count != 0;

        while(IsNextLevel)
        {
            allElementsUsages.ForEach(e => 
                newElementUsages.AddRange(e.ElementDefinition.ContainedElement.FindAll(newElementUsage => !allElementsUsages.Contains(newElementUsage)))
        );

            IsNextLevel = newElementUsages.Count != 0;
            allElementsUsages.AddRange(newElementUsages);
            newElementUsages.Clear();
        }
        this.Elements.AddRange(allElementsUsages);
    }
}
