<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor

@if(this.Element != null)
{
    var title = string.Empty;
    var iid = $"{this.Element.Iid}";
    @if (this.Element.GetType().Equals(typeof(ElementDefinition)))
    {
        var elementDefinition = (ElementDefinition)this.Element;
        title = $"{elementDefinition.Name} ({elementDefinition?.ModelCode()}) - {elementDefinition?.Owner.ShortName}";
    } 
    else if (this.Element.GetType().Equals(typeof(ElementUsage)))
    {
        var elementUsage = (ElementUsage)this.Element;
        title = $"{elementUsage.Name} ({elementUsage?.ModelCode()}) - {elementUsage?.Owner.ShortName}";
    }
    <DxTreeViewNode Name="@iid" Text=@title Expanded CssClass="color-title">
        <Nodes>
            <DxTreeViewNode >
                <Template>
                    <div style="border: 1px solid #008bd2; border-radius: 10px;">
                        <BSTable IsBordered="false" IsStriped="true" Class="text-align-center">
                            <BSTHead>
                                <BSTR>
                                    <BSTD Class="width-15">Parameter</BSTD>
                                    <BSTD Class="width-15">Model Code</BSTD>
                                    <BSTD Class="width-12">Published Value</BSTD>
                                    <BSTD Class="width-12">Actual Value</BSTD>
                                    <BSTD Class="width-12">Computed Value</BSTD>
                                    <BSTD Class="width-12">Manual Value</BSTD>
                                    <BSTD Class="width-12">Reference Value</BSTD>
                                    <BSTD Class="width-5">Switch</BSTD>
                                    <BSTD Class="width-5">Owner</BSTD>
                                </BSTR>
                            </BSTHead>
                            <BSTBody>
                                @if (this.Element.GetType().Equals(typeof(ElementDefinition)))
                                {
                                    var elementDefinition = (ElementDefinition)this.Element;
                                    @if (elementDefinition != null && elementDefinition.Parameter.Count != 0)
                                    {
                                        foreach (var parameter in FilterParameters(elementDefinition.Parameter))
                                        {
                                            foreach (var parameterValueSet in FilterParameterValueSets(parameter.IsOptionDependent, parameter.ValueSet))
                                            {
                                                <ParameterValueSetRow Parameter="parameter" ParameterValueSet="parameterValueSet" IsEditionMode="@IsEditionMode" />
                                            }
                                        }
                                    }
                                } 
                                else if (this.Element.GetType().Equals(typeof(ElementUsage)))
                                {
                                    var elementUsage = (ElementUsage)this.Element;
                                    @if(elementUsage.ParameterOverride.Count == 0)
                                    {
                                        foreach(var parameter in FilterParameters(elementUsage.ElementDefinition.Parameter))
                                        {
                                            foreach(var parameterValueSet in  FilterParameterValueSets(parameter.IsOptionDependent, parameter.ValueSet))
                                            {
                                                <ParameterValueSetRow Parameter="parameter" ParameterValueSet="parameterValueSet" IsEditionMode="@IsEditionMode" />
                                            }
                                        }
                                    } else
                                    {
                                        foreach(var parameter in FilterParameterOverrides(elementUsage.ParameterOverride))
                                        {
                                            foreach(var parameterValueSet in FilterParameterOverrideValueSets(parameter.IsOptionDependent, parameter.ValueSet))
                                            {
                                                <ParameterValueSetRow Parameter="parameter" ParameterValueSet="parameterValueSet" IsEditionMode="@IsEditionMode" />
                                            }
                                        }
                                    }
                                }
                            </BSTBody>
                        </BSTable>
                    </div>
                </Template>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeViewNode>
}

@code {
    /// <summary>
    /// The element associated to the node
    /// </summary>
    [Parameter]
    public ElementBase? Element { get; set; }

    /// <summary>
    /// Sets edition mode activate
    /// </summary>
    [Parameter]
    public bool IsEditionMode { get; set; }

    /// <summary>
    /// Sets if only parameters owned by the active domain are shown
    /// </summary>
    [Parameter]
    public bool? IsOwnedParameters { get; set; }

    /// <summary>
    /// Name of the parameter type selected
    /// </summary>
    [Parameter]
    public string? ParameterTypeSelected { get; set; }

    /// <summary>
    /// Name of the option selected
    /// </summary>
    [Parameter]
    public string? OptionSelected { get; set; }

    /// <summary>
    /// Name of the state selected
    /// </summary>
    [Parameter]
    public string? StateSelected { get; set; }

    /// <summary>
    /// Filters <see cref="Parameter">s for the selected owner and the selected type
    /// </summary>
    /// <param name="parameters"><see cref="Parameter">s to filter</param>
    public IEnumerable<Parameter> FilterParameters(List<Parameter> parameters)
    {
        var filteredParameters = new List<Parameter>();
        if(this.IsOwnedParameters == true)
        {
            filteredParameters.AddRange(parameters.FindAll(p => p.Owner == this.ISessionAnchor.CurrentDomainOfExpertise));
        } else
        {
            filteredParameters.AddRange(parameters);
        }
        if(this.ParameterTypeSelected != null)
        {
            filteredParameters.RemoveAll(p => p.ParameterType.Name != this.ParameterTypeSelected);
        }

        return filteredParameters.OrderBy(p => p.ParameterType.Name);
    }

    /// <summary>
    /// Filters <see cref="ParameterOverride">s for the selected owner and the selected type
    /// </summary>
    /// <param name="parameters"><see cref="ParameterOverride">s to filter</param>
    public IEnumerable<ParameterOverride> FilterParameterOverrides(List<ParameterOverride> parameters)
    {
        var filteredParameters = new List<ParameterOverride>();
        if(this.IsOwnedParameters == true)
        {
            filteredParameters.AddRange(parameters.FindAll(p => p.Owner == this.ISessionAnchor.CurrentDomainOfExpertise));
        } else
        {
            filteredParameters.AddRange(parameters);
        }
        if(this.ParameterTypeSelected != null)
        {
            filteredParameters.RemoveAll(p => p.ParameterType.Name != this.ParameterTypeSelected);
        }

        return filteredParameters.OrderBy(p => p.ParameterType.Name);
    }

    /// <summary>
    /// Filters <see cref="ParameterValueSet">s for the selected option and the selected state
    /// </summary>
    /// <param name="parameterValueSets"><see cref="ParameterValueSet">s to filter</param>
    public IEnumerable<ParameterValueSet> FilterParameterValueSets(bool isOptionDependent, List<ParameterValueSet> parameterValueSets)
    {
        var filteredParameterValueSets = new List<ParameterValueSet>();
        if(this.OptionSelected != null && isOptionDependent)
        {
            filteredParameterValueSets.AddRange(parameterValueSets.FindAll(p => p.ActualOption.Name.Equals(this.OptionSelected)));
        } else
        {
            filteredParameterValueSets.AddRange(parameterValueSets);
        }
        if(this.StateSelected != null)
        {
            var parameterValueSetsToRemove = new List<ParameterValueSet>();
            filteredParameterValueSets.ForEach(p =>
            {
                if(p.ActualState is null || !p.ActualState.Name.Equals(this.StateSelected))
                {
                    parameterValueSetsToRemove.Add(p);
                }
            });
            filteredParameterValueSets.RemoveAll(p => parameterValueSetsToRemove.Contains(p));
        }

        return filteredParameterValueSets.OrderBy(p => p.ModelCode());
    }

    /// <summary>
    /// Filters <see cref="ParameterOverrideValueSet">s for the selected option and the selected state
    /// </summary>
    /// <param name="parameterValueSets"><see cref="ParameterOverrideValueSet">s to filter</param>
    public IEnumerable<ParameterOverrideValueSet> FilterParameterOverrideValueSets(bool isOptionDependent, List<ParameterOverrideValueSet> parameterValueSets)
    {
        var filteredParameterValueSets = new List<ParameterOverrideValueSet>();
        if(this.OptionSelected != null && isOptionDependent)
        {
            filteredParameterValueSets.AddRange(parameterValueSets.FindAll(p => p.ActualOption.Name.Equals(this.OptionSelected)));
        } else
        {
            filteredParameterValueSets.AddRange(parameterValueSets);
        }
        if(this.StateSelected != null)
        {
            var parameterValueSetsToRemove = new List<ParameterOverrideValueSet>();
            filteredParameterValueSets.ForEach(p =>
            {
                if(p.ActualState is null || !p.ActualState.Name.Equals(this.StateSelected))
                {
                    parameterValueSetsToRemove.Add(p);
                }
            });
            filteredParameterValueSets.RemoveAll(p => parameterValueSetsToRemove.Contains(p));
        }

        return filteredParameterValueSets.OrderBy(p => p.ModelCode());
    }
}