<!------------------------------------------------------------------------------
Copyright (c) 2024 Starion Group S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, João Rua

    This file is part of COMET WEB Community Edition
    The COMET WEB Community Edition is the Starion Group Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
------------------------------------------------------------------------------->

@inherits DisposableComponent

<DxButton Click="(() => this.ViewModel.IsVisible = true)"
          Text="Batch Update"
          SizeMode="SizeMode.Medium"/>

<DxPopup @bind-Visible="@(this.ViewModel.IsVisible)"
         HeaderText="Batch Update">

    <ParameterTypeSelector ViewModel="this.ViewModel.ParameterTypeSelectorViewModel"
                           DisplayText="Select a parameter type:"/>

    @if (this.ViewModel.ParameterTypeSelectorViewModel.SelectedParameterType != null)
    {
        <div class="pt-3"></div>
        <h6>Select a value</h6>
        <ParameterTypeEditorSelector BindValueMode="BindValueMode.OnDelayedInput"
                                     IsOnEditMode="false"
                                     ViewModel="@(this.ViewModel.ParameterTypeEditorSelectorViewModel)"/>
    }
    
    <div class="pt-3"></div>
    <div class="dxbl-grid-edit-form-buttons">
        <DxButton Id="okButton"
                  Text="Apply Changes"
                  Click="(() => this.ViewModel.ConfirmCancelPopupViewModel.IsVisible = true)"
                  Enabled="@this.IsApplyButtonEnabled"/>

        <DxButton Id="closeButton"
                  Text="Close"
                  Click="(() => this.ViewModel.IsVisible = false)"
                  RenderStyle="ButtonRenderStyle.Secondary"/>
    </div>

    <ConfirmCancelPopup ViewModel="@(this.ViewModel.ConfirmCancelPopupViewModel)"></ConfirmCancelPopup>
</DxPopup>
