@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body, #app {
    height: 100%;
    overflow: hidden;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.btn-connect {
    color: #080707;
    background-color: #18bc9c;
    border-color: #12a98c;
}

.m-top-3px {
    margin-top: 3px;
}

.m-top-5px {
    margin-top: 5px;
}

.m-top-10px {
    margin-top: 10px;
}

.m-left-3px {
    margin-left: 3px;
}

.m-left-5px {
    margin-left: 5px;
}

.text-align-center {
    text-align: center;
}

.display-flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.height-70 {
    height: 70%;
}

.height-100 {
    height: 100%;
}

.width-fit-content {
    width: fit-content;
}

.max-width-40 {
    max-width: 40%;
}

.font-weight-bold {
    font-weight: bold;
}

.margin-top-120 {
    margin-top: 120px;
}

.color-title {
    color: #18bc9c;
}

.card-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.color-cd4c4c {
    color: #cd4c4c;
}

.color-7b8a8b {
    color: #7b8a8b;
}

.color-76b8fc {
    color: #76b8fc;
}

.color-c3cffd {
    color: #c3cffd;
}

.color-76fd98 {
    color: #76fd98;
}

.color-a7f876 {
    color: #a7f876;
}

.color-f2f240f2 {
    color: #f2f240f2;
}

.color-fda966 {
    color: #fda966;
}

.color-fc3a1aad {
    color: #fc3a1aad;
}

.zoom-1-5{
    zoom: 1.5;
}

.m-left-10px{
    margin-left: 10px;
}

.m-right-3px{
    margin-right: 3px;
}

::deep .dx-blazor-widget .dx-chart {
    justify-content: center
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

@media (max-width: 1199.98px) {
    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-chart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1500px) {
    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .dashboard-chart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.width-200{
    width: 200px;
}

.padding-top-1{
    padding-top: 1px;
}

.padding-bottom-1 {
    padding-bottom: 1px;
}

.font-size-20 {
    font-size: 20px;
}

.font-weight-100{
    font-weight: 100;
}

.font-size-bs-body {
    font-size: 1rem;
}