<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.SessionManagement
@using COMETwebapp.IterationServices
@using CDP4Dal
@using CDP4Common.EngineeringModelData
@using COMETwebapp.Services.SessionManagement

@page "/ModelDashboard/ElementsDetails"
@inject ISessionService SessionService
@inject IIterationService IterationService

@implements IDisposable

<div>
    <h5>Details</h5>

    <BSTable IsBordered="false" IsStriped="true" Class="text-align-center">
        <BSTHead>
            <BSTR>
                <BSTD Class="width-40">Element</BSTD>
                <BSTD Class="width-40">Model Code</BSTD>
                <BSTD Class="width-20">Owner</BSTD>
            </BSTR>
        </BSTHead>
        <BSTBody>
            @foreach(var element in this.Elements)
            {
                <BSTR AlignRow="AlignRow.Middle">
                    <BSTD>@element.Name</BSTD>
                    <BSTD>@element.ModelCode()</BSTD>
                    <BSTD>@element.Owner.ShortName</BSTD>
                </BSTR>
            }
        </BSTBody>
    </BSTable>
</div>

@code {
    /// <summary>
    /// The criteria to filter ElementDefinition list
    /// </summary>
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Criteria { get; set; }

    /// <summary>
    /// ShortName Domain to filter ElementDefinition list
    /// </summary>
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Domain { get; set; }

    /// <summary>
    /// Get selected filter on url page
    /// </summary>
    protected override void OnParametersSet()
    {
        this.Criteria = Criteria ?? null;
        this.Domain = Domain ?? null;
    }

    /// <summary>
    /// List of <see cref="ElementDefinition"> in the table
    /// </summary>
    public List<ElementDefinition> Elements = new List<ElementDefinition>();

    /// <summary>
    /// Listeners for the components to update it with ISession
    /// </summary>
    private Dictionary<string, IDisposable> listeners = new Dictionary<string, IDisposable>();

    /// <summary>
    /// Initialize component at first render and after session update
    /// </summary>
    protected override void OnInitialized()
    {
        this.InitializeElements();

        if (!this.listeners.TryGetValue("UpToDate", out var listener))
        {
            this.listeners.Add("UpToDate", CDPMessageBus.Current.Listen<SessionStateKind>().Where(x => x == SessionStateKind.UpToDate).Subscribe(x =>
            {
                this.Elements.Clear();
                this.InitializeElements();
                this.StateHasChanged();
            }));
        }
    }

    /// <summary>
    /// Stop and clear listeners of the component
    /// </summary>
    public void Dispose()
    {
        this.listeners.Values.ToList().ForEach(l => l.Dispose());
        this.listeners.Clear();
    }

    /// <summary>
    /// Initialize the Elements list with BuildElement to show
    /// </summary>
    private void InitializeElements()
    {
        var unusedElements = this.IterationService.GetUnusedElementDefinitions(this.SessionService.OpenIteration);
        var unreferencedElements = this.IterationService.GetUnreferencedElements(this.SessionService.OpenIteration);

        var iteration = this.SessionService.OpenIteration;
        if (Criteria is not null && Domain is not null && iteration != null)
        {
            var elements = new List<ElementDefinition>();
            elements.AddRange(iteration.Element.FindAll(e => e.Owner.ShortName.Equals(this.Domain)));

            if (this.Criteria.Equals("Unused Elements"))
            {
                this.Elements = elements.FindAll(e => unusedElements.Contains(e)).OrderBy(e => e.Name).ToList();

            } else if (this.Criteria.Equals("Used Elements"))
            {
                this.Elements = elements.FindAll(e => !unusedElements.Contains(e)).OrderBy(e => e.Name).ToList();

            } else if (this.Criteria.Equals("Unreferenced Elements"))
            {
                this.Elements = elements.FindAll(e => unreferencedElements.Contains(e)).OrderBy(e => e.Name).ToList();

            } else
            {
                this.Elements = elements.FindAll(e => !unreferencedElements.Contains(e)).OrderBy(e => e.Name).ToList();
            }
        }
    }
}
