.application-item-container {
    color: var(--colors-gray-500);
    margin: 0px 10px 0px 10px;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    width: 250px;
    background-color: transparent;
    transition: width 0.5s;
    white-space: nowrap;
    overflow: hidden;
    height: 52px;
    font-weight: 500;
}

.application-item-container:not(.selected-application-item):hover {
    background-color: var(--colors-gray-200);
}

.selected-application-item {
    background-color: var(--colors-deep-black);
    transition: background-color 500ms linear;
    color: white !important;
    box-shadow: 0px 8px 16px 0px #090E1126;
}

.application-sidebar-icon {
    padding-right: 10px;
    margin-top: -1.5px;
    padding-left: 10px;
}
