.application-item-container {
    color: var(--bs-body-color, var(--dxbl-body-color, inherit));
    margin: 0px 10px 0px 10px;
    border-radius: 15px;
    padding: 12.5px 10px 12.5px 10px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    width: 300px;
    background-color: transparent;
}

.application-item-container:not(.selected-application-item):hover {
    background-color: lightgray;
}

.selected-application-item {
    background-color: var(--bs-body-color, var(--dxbl-body-color, inherit));
    color: white !important;
}

.application-sidebar-icon {
    padding-right: 10px;
    margin-top: -1.5px;
    padding-left: 10px;
}
