<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 Starion Group S.A.
//
//    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, Nabil Abbar
//
//    This file is part of CDP4-COMET WEB Community Edition
//    The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
//    modify it under the terms of the GNU Affero General Public
//    License as published by the Free Software Foundation; either
//    version 3 of the License, or (at your option) any later version.
//
//    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//    Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <a href="https://github.com/STARIONGROUP/COMET-WEB-Community-Edition" target="_blank">
                <img src="images/COMET-Logo-small.png" alt="CDP4-COMET-WEB CE" />
            </a>
            <a href="https://github.com/STARIONGROUP" target="_blank">
                <img src="images/github-mark.png" alt="STARIONGROUP Github Repositories" />
            </a>
        </div>
    </div>
</div>

<div class="row my-4 text-align-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p>CDP4-CDP4-COMET WEB Community Edition (CE) is the Starion Group open source Concurrent Design web based application compliant with ECSS-E-TM-10-25 Annex A and Annex C</p>
            </div>
        </div>
    </div>
</div>

<div class="row my-4 text-align-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div>COMET-WEB-CE Version: <b>@(this.cometWebVersion)</b></div>
            </div>
        </div>
    </div>
</div>

<div class="row my-4 text-align-center">
    <div class="col-md-12">
        <DxMemo @bind-Text="@(this.license)"
                CssClass="cw-480"
                Rows="6"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p>Copyright &copy; <text class="mx-3">2023-2024.</text> <a href="https://www.stariongroup.eu/" title="STARIONGROUP" target="_blank">Starion Group S.A.</a></p>
    </div>
</div>