.card {
    width: 280px;
    height: 280px;
    margin: 5px;
    display: grid;
    align-content: center;
}

.card__icon {
    transform: scale(3);
}

.card__link {
    display: flex;
    color: black;
    position: relative;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}

.card__content {
    margin-top: 30px;
}

.card__content__name {
    font-weight: bold;
}

.card__content__description {
    margin-top: 20px;
    font-style: italic;
}