<!------------------------------------------------------------------------------
    Copyright (c) 2023 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Enumerations
@using COMETwebapp.Model.DTO
@using COMETwebapp.SessionManagement
@inherits DisposableComponent

<EditForm Model="this.ViewModel.AuthenticationDto" OnValidSubmit="this.ViewModel.ExecuteLogin">
    <DataAnnotationsValidator />
    
    <div class="form-group row">
        <label for="ur" class="text-align-start">Source Address:</label>
        <div class="col-md-15 m-top-3px">
            <InputText id="sourceaddress" class="form-control" @bind-Value="this.ViewModel.AuthenticationDto.SourceAddress" />
        </div>
    </div>
    <div class="form-group row m-top-10px">
        <label for="username" class="text-align-start">Username:</label>
        <div class="col-md-15 m-top-3px">
            <InputText id="username" class="form-control" @bind-Value="this.ViewModel.AuthenticationDto.UserName" />
        </div>
    </div>
    <div class="form-group row m-top-10px">
        <label for="password" class="text-align-start">Password:</label>
        <div class="col-md-15 m-top-3px">
            <InputText type="password" id="password" class="form-control" @bind-Value="this.ViewModel.AuthenticationDto.Password" />
        </div>
    </div>
    
    <ValidationSummary />

    @if (!string.IsNullOrEmpty(this.ErrorMessage))
    {
        <div class="form-group row m-top-10px">
            <label class="text-danger">this.ErrorMessage</label>
        </div>
    }

    <div class="row">
        <div class="col-md-12 text-center">
	        <DxButton Id="connectbtn" Text="@this.LoginButtonDisplayText" CssClass="btn btn-connect m-top-10px"  Enabled="@(this.ViewModel.AuthenticationState != AuthenticationStateKind.Authenticating)"
	                  SubmitFormOnClick="true"/>
        </div>
    </div>

</EditForm>