.parameter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.parameter-row-centered {
    justify-content: stretch;
    margin: 3%;
} 

.form-control.parameter-input{
    margin: 2%;
}

#color-text {
    margin-left: 2%;
    text-align: center;
}

p{
    text-align: center;
    margin:4%;
}

label {
    text-align: center;
} 

input{
    margin: 2%;
}