.parameter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

p {
    text-align: center;
    margin: 4%;
}

#euler-orientation-tab {
    margin-top: 3%;
}

.angle-selector{
    margin:4%;
}