<!------------------------------------------------------------------------------
Copyright (c) 2023-2024 Starion Group S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft, Nabil Abbar

    This file is part of CDP4-COMET WEB Community Edition
     The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using Blazor.Diagrams.Components.Renderers;

<div class="card @(this.Node.Category.IsDeprecated ? "dotted" : "")" style="width: auto; text-align:center;">
    <div class="card-body">
        @if (this.Node.Category.IsAbstract)
        {
            <h5 class="card-title">
                <i>@(this.Node.Category.Name)</i>
            </h5>
        }
        else
        {
            <h5 class="card-title">
                <b>@(this.Node.Category.Name)</b>
            </h5>
        }
    </div>

    @foreach (var port in this.Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>