.data-item-details-section {
    padding: 4px 12px 12px 12px;
    border: none;
    height: 100%;
    overflow: auto;
}

.data-item-details-image {
    margin: auto;
    display: block;
    width: 300px;
}
