.data-item-details-section {
    padding: 30px;
    border: 1px dashed;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
}

.data-items-panel-container {
    width: 50%;
    max-height: 85vh;
    position: sticky;
    top: 0px;
}

.data-item-details-image {
    margin: auto;
    display: block;
    width: 300px;
}
