<!------------------------------------------------------------------------------
Copyright (c) 2023-2024 Starion Group S.A.
    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Antoine Théate, João Rua
    This file is part of CDP4-COMET WEB Community Edition
     The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.
    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@inherits DisposableComponent

<div class="dxbl-grid-edit-form-buttons">
    <DxButton Id="saveItemButton"
              SubmitFormOnClick="true"
              Enabled="@(this.SaveButtonEnabled)">
        Save
    </DxButton>

    <DxButton Id="cancelItemButton"
              Click="@(() => this.OnCancel.InvokeAsync())"
              RenderStyle="ButtonRenderStyle.Secondary">
        Cancel
    </DxButton>
</div>

<div class="validation-container mt-3">
    @if (this.ValidationMessages is null)
    {
        <ValidationSummary />
    }
    else
    {
        <ul class="validation-errors">
            @foreach (var err in this.ValidationMessages)
            {
                <li class="validation-message">@err</li>
            }
        </ul>
    }
</div>