name: Publish Docker Container

on:
  push:
    tags:
      - 'web-*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
     
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: rheagroup/comet-web-community-edition

    - name: Login to Docker Hub
      if: github.ref_type == 'tag'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
          context: .
          file: ./COMETwebapp/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          secrets: |
            "DEVEXPRESS_NUGET_KEY=${{ secrets.DEVEXPRESS_NUGET_KEY }}"
            
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v3
      env:
        webhook_url: ${{ secrets.WEBHOOK_URL }}
        webhook_secret: ${{ secrets.WEBHOOK_SECRET }}